.row
  .col-md-4.col-md-offset-4
    %h2 Edit post
    = form_for [:admin, @post] do |f|
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'
      .form-group
        = f.submit nil, class: 'btn btn-success'
